<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Battery Status
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">battery status</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- <ion-card>
    <ion-card-header>
      Toilet battery
    </ion-card-header>
    <ion-card-content>
       <b> {{this.toiletBattery}}%</b>
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-card-header>
      Dining battery
    </ion-card-header>
    <ion-card-content>
       <b> {{this.diningBattery}}%</b>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      Bedroom battery
    </ion-card-header>
    <ion-card-content>
       <b> {{this.bedroomBattery}}%</b>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      Kitchen battery
    </ion-card-header>
    <ion-card-content>
       <b> {{this.kitchenBattery}}%</b>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      Living battery
    </ion-card-header>
    <ion-card-content>
       <b> {{this.livingBattery}}%</b>
    </ion-card-content>
  </ion-card> -->

  <div class="ion-padding">
    <ion-card>
      <ion-card-header>
        
      </ion-card-header>
      <ion-card-content>
        <canvas #batteryCanvas></canvas>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
         Battery Status
      </ion-card-header>
      <ion-card-content>
        <canvas #doughnutCanvas></canvas>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
